ion-item {
  --ion-item-background: var(--item-bg);
  --ion-item-color: var(--item-bg-contrast);
  --ion-item-border-color: var(--item-bg-border);

  // --item-bg: var(--medium);
  //   --item-bg-rgb: var(--medium-rgb);
  //   --item-bg-contrast: var(--medium-contrast);
  //   --item-bg-contrast-rgb: var(--medium-contrast-rgb);
  //   --item-bg-shade: var(--medium-shade);
  //   --item-bg-tint: var(--medium-tint);
  //   --item-bg-hover: var(--medium-tint);
  //   --item-bg-hover-contrast: var(--medium-contrast);
  //   --item-bg-success: var(--medium-success);
  //   --item-bg-warning: var(--medium-warning);
  //   --item-bg-danger: var(--medium-danger);
}