@import 'global-settings';

ion-card-header {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  padding: 0 8px 4px 10px;
  border-top: 4px solid var(--project);
  min-height: 44px;

  .title-wrapper {
    flex: 1 1 200px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;

    ion-card-subtitle {
      margin: 0;
      font-size: var(--font-size-small);
      color: var(--card-bg-contrast);
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    gap: 1px;
    flex: 0 0 0;

    ion-button {
      margin: 0;
      --padding-start: 10px;
      --padding-end: 10px;
    }
  }
}

ion-card-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px 0;

  &>.description {
    padding: 0 20px 8px 20px;
  }

  .timespans-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px;

    .group-container {
      .group-header {
        padding: 5px 10px;
        font-size: var(--font-size-small);
        align-items: center;
        font-weight: bold;
      }

      .timespans-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 2px;
        padding: 4px 0;
      }

      .timespan {
        position: relative;
        display: grid;
        padding: 4px 10px;
        gap: 8px;
        grid-template-areas: "time info participants";
        grid-template-columns: 140px 1.5fr 1fr;

        .time {
          grid-area: time;
          font-size: var(--font-size-small);
        }

        .info {
          grid-area: info;
          overflow: hidden;

          .title {
            font-weight: bold;
          }
        }

        .participants {
          grid-area: participants;
          overflow: hidden;
        }

        &.odd{
          background: rgba(var(--lightest-rgb), 0.2);
        }

        &.header {

          .time,
          .info,
          .participants {
            font-weight: bold;
            font-size: var(--font-size-mini);
            color: var(--ion-color-step-600, #666666);
            text-transform: uppercase;
          }
        }
      }

      .rich-content {
        font-size: var(--font-size-small);
      }
    }
  }
}