<ion-card>
  <ion-card-header>
    <ion-card-title>{{ event.title }}</ion-card-title>

    <div class="actions">
      <ion-button size="small" color="tertiary" [routerLink]="['/calendar', event.id]">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
    </div>
  </ion-card-header>

  <ion-card-content>
    <div class="description" [innerHTML]="event.description">
    </div>

    <div class="timespans-wrapper">
      <div *ngFor="let group of event.timespans | groupTimespans; trackBy: trackTimespanGroup;" class="group-container">
        <div class="group-header bg-dark">
          {{ group.date | date: 'longDate' : undefined : locale }}
        </div>
        <div class="timespans-wrapper">
          <div *ngFor="let timespan of group.timespans; let index = index; trackBy: trackTimespan;" class="timespan bg-light">
            <div class="time">
              {{ timespan.timeFrom | date: 'shortTime' : undefined : locale }}&shy; - {{ timespan.timeUntil | date:
              'shortTime' : undefined : locale
              }}
            </div>
            <div class="info">
              <h3 *ngIf="timespan.title" class="title">{{ timespan.title }}</h3>
              <div class="description" [innerHTML]="timespan.description"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-card-content>
</ion-card>