<ion-header>
  <app-header [title]="'calendar.title' | translate" [backDefault]="'/'"></app-header>
</ion-header>

<ion-content>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="primary" [routerLink]="['new']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <app-calendar-list-event *ngFor="let event of events$ | async; trackBy: trackCalendarEvent" [event]="event">
  </app-calendar-list-event>

  <div class="loading-overlay" *ngIf="loading$ | async">
    <ion-card>
      <ion-card-content>
        <ion-spinner name="circular"></ion-spinner>
        <span>{{ 'calendar.loading' | translate }}</span>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>