@import 'global-settings';

// ion-fab {
//   top: 8px;
//   right: 8px;
// }

.events-container{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  padding-bottom: 32px;
}