@import 'global-settings';

.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

section.hero {
  position: relative;
  display: block;
  background: black;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 500px;
  flex: 1 1 70%;

  @include media-breakpoint-up(sm) {
    max-height: 600px;
  }

  app-section-spacer {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;

    --background-color: var(--ion-background-color);
  }
}

section.contents {
  position: relative;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;

  p{
    margin-bottom: 32px;
  }

  &>form {
    width: 400px;
    max-width: 100%;

    &>ion-list {
      --ion-item-background: transparent;
    }

    ion-item {
      margin-bottom: 8px;
    }
  }

  ion-button {
    margin-top: 8px;
  }

  &>p {
    // flex: 1 1 auto;
  }
}