<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="calendar">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>{{ 'calendar.menu' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{ 'home.menu' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="cog"></ion-icon>
      <ion-label>{{ 'settings.menu' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>